<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form th:object="${product}" action="updateProduct" method="post">
    <label>Name</label>
    <input type="text" id="name" name="name" th:field="*{name}" >
    <label>Description</label>
    <input type="text" id="description" name="description" th:field="*{description}">
    <label>Unit</label>
    <input type="text" name="unit" id="unit"  th:field="*{unit}">
    <label>Manufacturer</label>
    <input type="text" id="manufacturer" th:field="*{manufacturer}">
    <label>Status</label>
    <select name="status" th:field="*{status}">
        <option th:each="status: ${statuses}" th:value="${status}" th:text="${status}" ></option>
    </select>
    <button>Save</button>
</form>
</body>
</html>